.btn {
    border: none;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
.success {background-color: #04AA6D;color: rgb(255, 255, 255);padding: 10px 20px;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;color: rgb(255, 255, 255);padding: 10px 20px;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;color: rgb(255, 255, 255);padding: 10px 20px;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;color: rgb(255, 255, 255);padding: 10px 20px;} /* Red */
.danger:hover {background: #da190b;}

.default {background-color: #5ECAC9; color: rgb(255, 255, 255);padding: 10px 20px;} /* Gray */
.default:hover {background: #53b7b5;}

.noni {background-color: rgba(255, 255, 255, 0); color: black;font-size: 16px;}