.h1404 {
    font-size: 72px;
    color: #333;
}
.p404 {
    font-size: 24px;
    color: #666;
}
.a404 {
    color: #0066cc;
    text-decoration: none;
}

.div404 {
    font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
            

}