#navbar {
    overflow: hidden;
    background-color: #5ECAC9;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #34065C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
 
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #5ECAC9;
    color: white;
  }
  
  #navbar span {
    float: left;
    display: block;
    padding: 14px 16px;
  }
  #navbar span:hover {
    background-color: #ddd;
    color: black;
  } 
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }