/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=date], input[type=email],input[type=password], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #b9b9b9; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical ;/* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: #f2f2f2;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #5ECAC9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #7be0de;
  }
  
  #message {
    display:none;
    color: #000;
    position: relative;
    padding-left: 20px;
    text-align: left;
  }
  
  #message p {
    font-size: 10px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  

  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }

  #mssg{
    color: #ff0000;
    padding-left: 20px;
    text-align: left;
    font-size: 10px;
  }